.pyc
regenv
../../.PyCharmCE2019.2/
        ../../.android/
        ../../.config/
        ../../.gitconfig
        ../../.gradle/
        ../../.matplotlib/
        ../../.pgAdmin4.1057243102.addr
        ../../.pgAdmin4.1057243102.log
        ../../.pgAdmin4.startup.log
        ../../.pylint.d/
        ../../.vscode/
        ../../3D Objects/
        ../../AndroidStudioProjects/
        ../../AppData/
        ../../Contacts/
        ../
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Music/
        ../../MyVideos/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../PycharmProjects/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../_netrc
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini