{% extends 'books/base.html' %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Written year</th>
                    <th scope="col">Rented time</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in product_objects %}
                        <tr>
                            <th>{{ product.name }}</th>
                            <td>{{ product.author }}</td>
                            <td>{{ product.writtentime }}</td>
                            <td>{{ product.rentedtime }}</td>
                            <td>
                                <form action="{% url 'back' product.id  %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">give back</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}